<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="../static/style.css">
    <title>My Site</title>
</head>
<body>
    <h1>Sistema Unidade Básica de Saúde</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus provident architecto quod aperiam porro atque ea totam eos magni, laboriosam earum explicabo qui quos, dicta dolorem aut praesentium reprehenderit hic!</p>
</body>
</html>